<ion-header>
  <ion-navbar>
    <ion-title text-center>{{ quoteGroup?.category | uppercase }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes;let i=index">
    <ion-card-header>
      <h1>#{{ i+1 }}</h1>
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <ion-card-title text-right padding-right class="author">{{ quote.person | uppercase }}</ion-card-title>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button ion-button clear small (click)="onAddToFavorites(quote)"  *ngIf="!isFavorite(quote)">Favorite</button>
        <button ion-button clear small (click)="onRemoveFromFavorites(quote)" color="danger" *ngIf="isFavorite(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
